{% extends "base.html" %} {% load static %} {% block content %}

<div class="py-4">
    <div class="container">
    <div class="row">
    
    <main class="col col-xl-9 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
    <div class="box shadow-sm rounded bg-white mb-3 osahan-chat">
    <h5 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">Messaging</h5>
    <div class="row m-0">
    <div class="border-right col-lg-5 col-xl-4 px-0">
    <div class="osahan-chat-left">
    <div class="position-relative icon-form-control p-3 border-bottom">
    <i class="feather-search position-absolute"></i>
    <input placeholder="Search messages" type="text" class="form-control">
    </div>
    <div class="osahan-chat-list">
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="img/p9.png" alt></div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Ashley Briggs</div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check text-primary"></i> Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center bg-light border-left border-primary  border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="img/p1.png" alt></div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Carl Jenkins
    </div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check"></i> Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="img/p3.png" alt></div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Bertha Martin
    </div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check text-primary"></i> Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="img/p4.png" alt></div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Stacie Hall
    </div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check"></i> Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3">
    <div class="dropdown-list-image mr-3 d-flex align-items-center bg-danger justify-content-center rounded-circle text-white">A</div>
    </div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Ashley Briggs</div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check text-primary"></i> Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="img/p1.png" alt></div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Carl Jenkins
    </div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check"></i> Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="img/p3.png" alt></div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Bertha Martin
    </div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check text-primary"></i> Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3">
    <div class="dropdown-list-image mr-3 d-flex align-items-center bg-success justify-content-center rounded-circle text-white">S</div>
    </div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Stacie Hall
    </div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check"></i> Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="img/p3.png" alt></div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Bertha Martin
    </div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check text-primary"></i> Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="img/p4.png" alt></div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Stacie Hall
    </div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check"></i> Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3">
    <div class="dropdown-list-image mr-3 d-flex align-items-center bg-danger justify-content-center rounded-circle text-white">A</div>
    </div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Ashley Briggs</div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check text-primary"></i> Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="img/p1.png" alt></div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Carl Jenkins
    </div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check"></i> Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="img/p3.png" alt></div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Bertha Martin
    </div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check text-primary"></i> Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    <div class="p-3 d-flex align-items-center osahan-post-header overflow-hidden">
    <div class="dropdown-list-image mr-3">
    <div class="dropdown-list-image mr-3 d-flex align-items-center bg-success justify-content-center rounded-circle text-white">S</div>
    </div>
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">Stacie Hall
    </div>
    <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check"></i> Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
    </div>
    <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
    </span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-7 col-xl-8 px-0">
    <div class="p-3 d-flex align-items-center  border-bottom osahan-post-header">
    <div class="font-weight-bold mr-1 overflow-hidden">
    <div class="text-truncate">{{request.user.username}}
    </div>
    <div class="small text-truncate overflow-hidden text-black-50">Askbootstap.com - Become a Product Manager with super power</div>
    </div>
    <span class="ml-auto">
    <button type="button" class="btn btn-light btn-sm rounded">
    <i class="feather-phone"></i>
    </button>
    <button type="button" class="btn btn-light btn-sm rounded">
    <i class="feather-video"></i>
    </button>
    <div class="btn-group">
    <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="feather-more-vertical"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button"><i class="feather-trash"></i> Delete</button>
    <button class="dropdown-item" type="button"><i class="feather-x-circle"></i> Turn Off</button>
    </div>
    </div>
    </span>
    </div>
    <div class="osahan-chat-box p-3 border-top border-bottom bg-light">
   


    {% for chat in chats %}
            {% if chat.msg_sender == profile and chat.msg_receiver == user %}

                <div class="d-flex align-items-center osahan-post-header">
                <!-- <div class="dropdown-list-image mr-3 mb-auto"><img class="rounded-circle" src="img/p8.png" alt></div> -->
                <div class="mr-1">
                <!-- <div class="text-truncate h6 mb-3">{{ profile.user.username }}
                </div> -->
                <p class="text-right">{{chat}}</p>
                </div>
                <!-- <span class="ml-auto mb-auto">
                <div class="text-right text-muted pt-1 small">00:21PM</div>
                </span> -->
                </div>

            {% elif chat.msg_sender == user and chat.msg_receiver == profile %}

        
                <div class="d-flex align-items-center osahan-post-header">
                <!-- <div class="dropdown-list-image mr-3 mb-auto"><img class="rounded-circle" src="img/p8.png" alt></div> -->
                <div class="mr-1">
                <!-- <div class="text-truncate h6 mb-3">{{ profile.user.username }}
                </div> -->
                <!-- <p>{{chat}}</p> -->
                </div>
                <span class="ml-auto mb-auto">
                <div class="text-left text-muted pt-1 small">{{chat}}</div>
                </span>
                </div>

    {% endif %}
    {% endfor %}




    </div>
    <div class="w-100 border-top border-bottom">
    <!-- <textarea placeholder="Write a message…" class="form-control border-0 p-3 shadow-none" rows="2"></textarea> -->
    <form action="" id="myform" method="POST">
        {% csrf_token %}
        
        {{form.body}}
        
        
    
    </div>
    <div class="p-3 d-flex align-items-center">
    <div class="overflow-hidden">
    <button type="button" class="btn btn-light btn-sm rounded">
    <i class="feather-image"></i>
    </button>
    <button type="button" class="btn btn-light btn-sm rounded">
    <i class="feather-paperclip"></i>
    </button>
    <button type="button" class="btn btn-light btn-sm rounded">
    <i class="feather-camera"></i>
    </button>
    </div>
    <span class="ml-auto">
        <button type = "submit" id = "submit">Send</button>
    </span>
    </div>
    </form>
    </div>
    </div>
    </div>
    </main>
    <aside class="col col-xl-3 order-xl-2 col-lg-12 order-lg-2 col-12">
    <div class="box mb-3 shadow-sm border rounded bg-white list-sidebar">
    <div class="box-title p-3">
    <h6 class="m-0">Manage my network</h6>
    </div>
    <ul class="list-group list-group-flush">
    <a href="#">
    <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-users mr-2 text-dark"></i> Connections <span class="ml-auto font-weight-bold">68</span></li>
    </a>
    <a href="#">
    <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-book mr-2 text-dark"></i> Contacts <span class="ml-auto font-weight-bold">869</span></li>
    </a>
    <a href="#">
    <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-user-check mr-2 text-dark"></i> People I Follow <span class="ml-auto font-weight-bold">156</span></li>
    </a>
    <a href="#">
    <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-message-circle mr-2 text-dark"></i> Groups <span class="ml-auto font-weight-bold">15</span></li>
    </a>
    <a href="#">
    <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-clipboard mr-2 text-dark"></i> Page <span class="ml-auto font-weight-bold">3</span></li>
    </a>
    <a href="#">
    <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i class="feather-tag mr-2 text-dark"></i> Hashtag <span class="ml-auto font-weight-bold">8</span></li>
    </a>
    </ul>
    </div>
    <div class="box shadow-sm mb-3 border rounded bg-white ads-box text-center">
    <div class="image-overlap-2 pt-4">
    <img src="img/l4.png" class="img-fluid rounded-circle shadow-sm" alt="Responsive image">
    <img src="img/user.png" class="img-fluid rounded-circle shadow-sm" alt="Responsive image">
    </div>
    <div class="p-3 border-bottom">
    <h6 class="text-dark">Gurdeep, grow your career by following <span class="font-weight-bold"> Askbootsrap</span></h6>
    <p class="mb-0 text-muted">Stay up-to industry trends!</p>
    </div>
    <div class="p-3">
    <button type="button" class="btn btn-outline-primary btn-sm pl-4 pr-4"> FOLLOW </button>
    </div>
    </div>
    </aside>
    </div>
    </div>
    </div>



    
    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    
        let form = document.getElementById("myform")
        
        form.addEventListener("submit", sendChat)
    
        function sendChat(e){
            e.preventDefault()
            let chatMessage= document.getElementById("id_body").value
            console.log(chatMessage)
    
            const data = { msg: chatMessage };
            
            let url = "{% url 'sent_msg' friend.profile.id %}"
    
    fetch(url, {
      method: 'POST', // or 'PUT'
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
      console.log('Success:', data);
      let chat_body = document.getElementById('chat-body')
      let chatMessageBox = document.createElement("div")
      chatMessageBox.classList.add("chat-box-sent")
      chatMessageBox.innerText = data
      chat_body.append(chatMessageBox)
      document.getElementById("id_body").value=""
    })
    .catch((error) => {
      console.error('Error:', error);
    });
    
    
        }
    
    
    
    
    
    
    
    
    
        
    
    setInterval(receiveMessages, 2000)
    
    
    let counter = {{num}}
    function receiveMessages(){
    
    
        let url = "{% url 'rec_msg' friend.profile.id %}"
    
            fetch(url)
            .then(response => response.json())
            .then(data => {
            console.log('Success:', data);
            
            
    
            if(data.length == 0){}
    
            else{
    
                let lastMsg = data[data.length-1]
    
                if(counter == data.length){
                    console.log("there is no new chat")
                }
    
            
            
    
                else{
    
    
                    let chat_body = document.getElementById('chat-body')
                    let chatMessageBox = document.createElement("div")
                    
                    chatMessageBox.classList.add("chat-box-received")
                    chatMessageBox.innerText = lastMsg
                    chat_body.append(chatMessageBox)
                    document.getElementById("id_body").value=""
                    console.log()
    
                    console.log
    
    
                }
    
            }
            
            counter = data.length
    
    
    
            })
            .catch((error) => {
            console.error('Error:', error);
            });
    
    }
    
    
    
    </script>
    
    {% endblock %}